<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="{{url_for('static',filename='W6.css')}}" />
    <title>登入成功</title>
  </head>
  <body>
    <div class="interface">
      <div class="welcome">
        <h1>歡迎{{name}}，這是會員頁</h1>
      </div>
      <div class="login">
        <p>{{name}}，恭喜成功登入</p>
        <a href="http://127.0.0.1:3000/signout">登出系統</a>
      </div>

      <hr />
      <div class="login">
        <form action="/message">
          <p>快來留言ㄅ</p>
          <input type="text" name="message" /><br /><br />
          <button>送出</button>
        </form>
      </div>
      <hr />
      <div class="login">
        <p class="message">{{message}} <br /></p>
      </div>
    </div>
  </body>
</html>
